<%- include ("../partials/dashboard-header") %> 

<% const numberWithCommas = (amount) => { %>
  <% if(amount !== null) { %> 
    <% return amount.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","); %>
  <% }else { %>
    <% return ''; %>
  <% } %> 
<% } %>

<% let deposits = currentUser.deposits %>
<% let withdrawals = currentUser.withdrawals %>

<div class="flex flex-col justify-center items-center my-10">
  <section class="flex flex-col items-center w-full md:w-4/6 my-4">
    <div class="w-min rounded-full">
      <div
        class="flex items-center justify-center bg-rose-50 w-12 h-12 rounded-full m-1"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width=".75"
          stroke="currentColor"
          class="w-16 h-16 text-black"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z"
          />
        </svg>
      </div>
    </div>

    <div class="text-center">
      <h3 class="text-2xl font-bold font-jarkata text-gray-900">
        <%= currentUser.fullName %>
      </h3>
      <p class="text-gray-700 font-semibold text-base"><%= currentUser.email %></p>
      <a class="text-blue-600 font-semibold underline hover:text-blue-200" href="/account/profile/update">          
          Edit Profile
      </a>
    </div>
  </section>

  <section class="flex flex-col w-full md:w-4/6 my-4 ">
    <div class="flex items-center justify-between my-4 pb-3 border-b border-gray-100 px-4">
        <div class="flex items-center space-x-2">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-gray-600">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3 3v1.5M3 21v-6m0 0l2.77-.693a9 9 0 016.208.682l.108.054a9 9 0 006.086.71l3.114-.732a48.524 48.524 0 01-.005-10.499l-3.11.732a9 9 0 01-6.085-.711l-.108-.054a9 9 0 00-6.208-.682L3 4.5M3 15V4.5" />
              </svg>
              
              
            <p class="text-base text-gray-900 font-semibold">Country - <%= currentUser.country %></p>
        </div>
      </div>

    <div class="flex items-start justify-between my-4 pb-3 border-b border-gray-100 px-4">
        <div class="flex items-center space-x-2">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 text-gray-600">
                <path d="M12.75 12.75a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM7.5 15.75a.75.75 0 100-1.5.75.75 0 000 1.5zM8.25 17.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM9.75 15.75a.75.75 0 100-1.5.75.75 0 000 1.5zM10.5 17.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM12 15.75a.75.75 0 100-1.5.75.75 0 000 1.5zM12.75 17.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM14.25 15.75a.75.75 0 100-1.5.75.75 0 000 1.5zM15 17.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM16.5 15.75a.75.75 0 100-1.5.75.75 0 000 1.5zM15 12.75a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM16.5 13.5a.75.75 0 100-1.5.75.75 0 000 1.5z" />
                <path fill-rule="evenodd" d="M6.75 2.25A.75.75 0 017.5 3v1.5h9V3A.75.75 0 0118 3v1.5h.75a3 3 0 013 3v11.25a3 3 0 01-3 3H5.25a3 3 0 01-3-3V7.5a3 3 0 013-3H6V3a.75.75 0 01.75-.75zm13.5 9a1.5 1.5 0 00-1.5-1.5H5.25a1.5 1.5 0 00-1.5 1.5v7.5a1.5 1.5 0 001.5 1.5h13.5a1.5 1.5 0 001.5-1.5v-7.5z" clip-rule="evenodd" />
              </svg>
              
              
            <p class="text-base text-gray-900 font-semibold">Date Registered - <%= String(currentUser.dateRegistered).substring(0, 21) %></p>
        </div>
      </div>

    <div class="flex items-start justify-between my-4 pb-3 border-b border-gray-100 px-4">
        <div class="flex items-center space-x-2">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 text-gray-600">
                <path d="M18.75 12.75h1.5a.75.75 0 000-1.5h-1.5a.75.75 0 000 1.5zM12 6a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5A.75.75 0 0112 6zM12 18a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5A.75.75 0 0112 18zM3.75 6.75h1.5a.75.75 0 100-1.5h-1.5a.75.75 0 000 1.5zM5.25 18.75h-1.5a.75.75 0 010-1.5h1.5a.75.75 0 010 1.5zM3 12a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5A.75.75 0 013 12zM9 3.75a2.25 2.25 0 100 4.5 2.25 2.25 0 000-4.5zM12.75 12a2.25 2.25 0 114.5 0 2.25 2.25 0 01-4.5 0zM9 15.75a2.25 2.25 0 100 4.5 2.25 2.25 0 000-4.5z" />
              </svg>          
            <p class="text-base text-gray-900 font-semibold">Total Transactions - <%= deposits.length + withdrawals.length %></p>
        </div>
        <a href="/account/history">  
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-8 h-8 text-gray-900 hover:text-gray-300 bg-gray-600 rounded-full p-1">
              <path fill-rule="evenodd" d="M16.28 11.47a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 01-1.06-1.06L14.69 12 7.72 5.03a.75.75 0 011.06-1.06l7.5 7.5z" clip-rule="evenodd" />
            </svg> 
        </a>
      </div>
  </section>
</div>

<%- include ('../partials/dashboard-footer.ejs') %>

